{
  "env": { "jest": true, "browser": true },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/all",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:testing-library/react",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "settings": { "react": { "version": "detect" } },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {"allowExpressions":  true}
    ],
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "react/jsx-no-bind": ["error", { "ignoreRefs": true }],
    "react/jsx-no-literals": "off",
    "no-console": "error"
  },
  "overrides": [
    {
      "files": ["*.spec.*", "*.test.*"],
      "rules": {
        "react/no-multi-comp": "off"
      }
    }
  ]
}
